body{
    background-color: rgb(250, 245, 255);
    font-family: monaco;
    margin: 50px ;
    border:7px solid rgb(224, 47, 47);
    border-radius: 50px;
}   


p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 60px;
    margin-right: 60px; 
    background-color: rgb(253, 234, 234);
}

h1, h2, h3{
    color: black;
    margin-left: 40px;
}
#pin1{
    width: 500px;
    height: 500px;
    border: 4px solid rgb(241, 137, 18);
    border-radius: 25px;
    margin-left: 40px;
}
#pin2{
    width: 500px;
    height: 500px;
    border: 4px solid rgb(151, 123, 123);
    border-radius: 25px;
    margin-left: 40px;
}

#gif{
    width: 500px;
    height: 500px;
    border: 4px solid rgb(199, 174, 174);
    border-radius: 25px;
    margin-left: 40px;
} 
ul{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 60px;
    margin-right: 60px; 
    background-color: rgb(253, 234, 234);
}

section{
    color: black;
    text-align: center;
    background-color: rgb(255, 245, 245);
    font-style: italic;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-right: 40px;
    /*width: 450px;
    height: 500px;*/
    border: 6px solid rgb(224, 47, 47);
    border-radius: 25px;
    border-top: 5px;
    border-bottom: 5px;
}
section > p {
    color: black;
    text-align: center;
    font-style: italic;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-right: 40px;

}
div {
    color: black;
    text-align: center;
    background-color: rgb(255, 246, 246);
    font-style: italic;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-right: 40px;
    /*width: 450px;
    height: 500px;*/
    border: 6px solid rgb(224, 47, 47);
    border-radius: 25px;
    border-top: 5px;
    border-bottom: 5px;
}
div > p {
    color: black;
    text-align: center;
    font-style: italic;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-right: 40px;
}