body{
    background-color: rgb(255, 255, 255);
    font-family: monaco;
}
li{
    background-color: blue;
}
p{
    color: black;
    text-align: center;
    background-color: rgb(248, 242, 242);
    font-style: italic;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-right: 40px;
}
a{
    text-decoration: underline;
}
#pin{
    width: 500px;
    height: 500px;
    border: 4px solid red;
    border-radius: 25px;
    margin-left: 40px;
}
body{
    margin: 50px ;
    border:7px solid rgb(224, 47, 47);
    border-radius: 50px;
}
h1,h2,h3,h4{
    color: black;
    margin-left: 40px;
}
#pin2{
    width: 700px;
    height: 500px;
    border: 4px solid red;
    border-radius: 25px;
    margin-left: 40px;
}
iframe{
    width: 700px;
    height: 500px;
    border-radius: 25px;
    margin-left: 525px;
    
}

#pin3{
    width: 425px;
    height: 500px;
    border: 4px solid red;
    border-radius: 25px;
    margin-left: 40px;
    position: absolute;
}
a{
    background-color: rgb(148, 7, 7);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 6px 8px;
    border-radius: 20px;
}
