body{
    margin: 50px ;
    border:3px solid rgb(156, 25, 2);
    border-radius: 30px;
}
p{
    color: black;
    text-align: center;
    background-color: rgb(248, 242, 242);
    font-style: italic;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
}
#pin5{
    width: 700px;
    height: 500px;
    border-radius: 25px;
    margin-left: 40px;

}
#pin4{
    width: 700px;
    height: 500px;
    border-radius: 25px;
    margin-left: 40px;

}
#pin3{
    width: 700px;
    height: 500px;
    border-radius: 25px;
    margin-left: 40px;

}
#pin6{
    width: 700px;
    height: 500px;
    border-radius: 25px;
    margin-left: 40px;

}