body{
    margin: 50px ;
    border:5px solid rgb(185, 35, 12);
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}
p{
    color: black;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-right: 40px;
}
#pin5{
    width: 700px;
    height: 500px;
    border-radius: 25px;
    margin-left: 40px;

}
#pin4{
    width: 700px;
    height: 500px;
    border-radius: 25px;
    margin-left: 40px;

}
#pin3{
    width: 700px;
    height: 500px;
    border-radius: 25px;
    margin-left: 40px;

}
#pin6{
    width: 700px;
    height: 500px;
    border-radius: 25px;
    margin-left: 40px;

}
h1{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
}
a{
    text-decoration: none;
    display: block;
    border: solid;
    width: max-content;
    padding: 2px;
    color: rgb(197, 0, 0);
    border-radius: 25px;
    border-radius: 20%;
    background-color: rgb(224, 205, 205);
    margin: 10px auto;
}