header {
    background-color: rgb(240, 164, 0); 
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

header nav ul li {
    position: relative;
}

header nav ul li a {
    color: rgb(240, 164, 0); 
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
    display: block;
    border-radius: 4px; 
}

header nav ul li a:hover {
    background-color: rgb(240, 164, 0); 
}

.sub-menus {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: rgb(240, 164, 0);
    border: 2px solid rgb(240, 164, 0);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 10px;
    z-index: 1000; 
}

.sub-menus li {
    display: block;
}

.sub-menus li a {
    padding: 10px;
    color: #916523;
    border-radius: 4px;
}

.sub-menus li a:hover {
    background-color: rgb(240, 164, 0);
}

header nav ul li:hover .sub-menus {
    display: block; 
}

#responsive-menu {
    display: none; 
}