.div-cards{
    border: 3px solid rgb(240, 164, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    padding: 15px;
}
.div-card{
    width: 30%;
    min-width: 280px;
    border: 2px solid rgb(240, 164, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 227, 193);
}
img{
    width: 80%;
}
.img2{
    height: 100px;
}
body{
    background-color: rgb(253, 249, 213);
    font-family: monaco;
}

h1{
    color: black;
    text-align: center;
    background-color: rgb(255, 210, 152);
    font-style: italic;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    color: black;
    text-align: center;
    font-style: italic;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}
#am{
    width: 400px;
    height: 500px;
}
h2{
    text-align: center;
}

a{
    text-decoration: none;
    display: block;
    border: solid;
    width: max-content;
    padding: 2px;
    color: rgb(255, 171, 62);
    border-radius: 25px;
    border-radius: 20%;
    background-color: rgb(255, 239, 218);
    margin: 10px auto;

}
a:hover{
    color: rgb(35, 34, 34);
}
header{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    unicode-bidi: isolate;
}
p{
    color: black;
    text-align: center;
    font-style: italic;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}
#globo{
    width: 90%;
}
#menu {
	background: rgb(255, 210, 152);
	height: 60px;
	padding-left: 200px;
    padding-right: 200px;
	border-radius: 100px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
#menu ul {
	width: 100%;
	text-align: left;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: rgb(255, 171, 62);
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: rgb(255, 171, 62);
	background: #c5abab;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: rgb(255, 171, 62);
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #fff8f8;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #977474;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #e6e6e6;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#444444;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
