footer {
    text-align: center;
    padding: 120px;
    background-color:  rgb(195, 30, 255); 
    color: #ffffff; 
}

.foo{
    background-color:  rgb(195, 30, 255);
}
footer .redes-sociais a{
    color: rgb(17, 17, 17);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    background-color: rgb(195, 30, 255);
    border: rgb(195, 30, 255);
}
footer p{
    font-family: Arial, Helvetica, sans-serif;
}