body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(195, 30, 255);
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--cor-primaria);
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-branco);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--cor-contraste);
}

.sob {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    background-color: var(--cor-branco);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sob h2 {
    color: var(--cor-primaria);
    margin-bottom: 20px;
}

.sob table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.sob th, .sob td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.sob th {
    background-color: var(--cor-secundaria);
    color: var(--cor-branco);
}

.sob img.pe {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
    margin-top: 20px;
    border-radius: 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid var(--cor-primaria);
}

