body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(215, 105, 255);
    color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
img{
    border-radius: 50%;
    width: 300px;
    height: 250px;
    margin: 0 auto;
    display: block;
    border: 5px solid rgb(195, 30, 225);

}
h1{
    text-align: center;
}
p{
    text-align: center;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    
}
.pin{
    background-color: rgb(251, 221, 255) ;
    margin: 80px auto;
    border-radius: 10px;
}
header {
    background-color: rgb(195, 30, 225);
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-branco);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--cor-contraste);
}

/* Estilos para dispositivos menores */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 18px;
    }

    #home img {
        width: 140px; 
        height: 140px;
    }

    #home p {
        font-size: 14px;
    }
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color:  rgb(195, 30, 255); 
    color: #ffffff; 
    margin-top: auto;
}


footer .redes-sociais a{
    color: rgb(17, 17, 17);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    background-color: rgb(195, 30, 255);
    border: rgb(195, 30, 255);
}