body{
    background-color: rgb(195, 30, 255);
    border: 6px solid rgb(195, 30, 255);
}
img{
    border-radius: 50%;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    display: block;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    
}
.pin{
    background-color: rgb(251, 221, 255) ;
}
header {
    background-color: var(--cor-primaria);
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-branco);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--cor-contraste);
}

/* Estilos para dispositivos menores */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 18px;
    }

    #home img {
        width: 140px; 
        height: 140px;
    }

    #home p {
        font-size: 14px;
    }
}

#home {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    background-color: var(--cor-branco);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#home h1 {
    color: var(--cor-primaria);
    margin-bottom: 20px;
}

#home img {
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid #800;
}

#home p {
    margin-top: 10px;
    color: var(--cor-secundaria);
}
