body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(215, 105, 255);
    color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sob {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(215, 199, 221);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sob h2 {
    color:rgb(0, 0, 0);
    margin-bottom: 20px;
}

.sob table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.sob th, .sob td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.sob th {
    background-color: rgb(215, 199, 221);
    color: rgb(186, 15, 249);
}

.sob img.pe {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
    margin-top: 20px;
    border-radius: 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid rgb(216, 119, 184);
}

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    
}
header {
    background-color: var(--cor-primaria);
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-branco);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--cor-contraste);
}

/* Estilos para dispositivos menores */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 18px;
    }

    #home img {
        width: 140px; 
        height: 140px;
    }

    #home p {
        font-size: 14px;
    }
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color:  rgb(195, 30, 255); 
    color: #ffffff; 
    margin-top: auto;
}


footer .redes-sociais a{
    color: rgb(17, 17, 17);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    background-color: rgb(195, 30, 255);
    border: rgb(195, 30, 255);
}
footer p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
}